services:
  client:
    build:
      context: ./modules/client
      dockerfile: Dockerfile
    ports:
      - "4000:4000"
    volumes:
      - ./modules/client:/app
      - /app/node_modules
    command: ["npm", "run", "dev"] # overrides Dockerfile start command in dev env
    restart: always
