# Server
PORT=8000
ENV=development

# Database
DATABASE_URL=postgres://postgres:postgres@localhost:5432/pina_colada
DB_DEBUG=false
RUN_SEEDERS=true # do not add this to prod or bad things will happen

# Auth0
AUTH0_DOMAIN=your-tenant.auth0.com
AUTH0_AUDIENCE=http://localhost:8000

# LLM Providers
OPENAI_API_KEY=
ANTHROPIC_API_KEY=

# Admin Keys (for cost tracking)
OPENAI_ADMIN_KEY=
ANTHROPIC_ADMIN_KEY=

# Web Search
SERPER_API_KEY=

# Pushover
PUSHOVER_USER=
PUSHOVER_TOKEN=

# Storage (local)
STORAGE_PATH=
STORAGE_BACKEND=local

# SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=

