@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: var(--font-sans); /* Inter */
  --font-display: var(--font-display); /* Playfair */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* map to tailwind tokens */
  --font-sans: var(--font-sans);
  --font-serif: var(--font-display);
}

/* subtle smoothing helps elegance */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background: var(--background);
  color: var(--foreground);
}
